{{ define "content" }}

<link rel="stylesheet" href="/public/dist/css/home.css" />

<section class="section bg--dark home-section-intro">
  <div class="section__inner">
    <div class="is-bg overlay--neutral-ultra-dark-trans-90">
      <img src="/public/img/blade_runner.jpg" alt="" />
    </div>
    <h1>Home Page</h1>
    <p>{{ .Description }}</p>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h2>HTMX Example</h2>
    <div id="parent-element">
      <button
        class="btn--primary"
        hx-get="{{ .HTMXRoutes.Clicked }}"
        hx-trigger="click"
        hx-target="#parent-element"
        hx-swap="outerHTML"
      >
        Click Me!
      </button>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h2>HTMX DB Example</h2>
    <button
      class="btn--primary"
      hx-post="{{ .HTMXRoutes.Users }}"
      hx-trigger="click"
      hx-target="#users-display"
      hx-swap="innerHTML"
    >
      Create more users!
    </button>
    <div
      id="users-display"
      hx-get="{{ .HTMXRoutes.Users }}"
      hx-trigger="load once"
    ></div>
  </div>
</section>

{{ end }}
