// TODO(CTH): need to generate these values dynamically with SCSS according to our own theme values
/* prettier-ignore */
:root {
  --action-hex: #e86826;
  --action-hsl: 20 81% 53%;
  --action-rgb: 232 104 38;
  --action-r: 232;
  --action-g: 104;
  --action-b: 38;
  --action-h: 20;
  --action-s: 81%;
  --action-l: 53%;
  --action-hover-h: 20;
  --action-hover-s: 81%;
  --action-hover-l: 60.95%;
  --action-ultra-light-h: 20;
  --action-ultra-light-s: 81%;
  --action-ultra-light-l: 95%;
  --action-light-h: 20;
  --action-light-s: 81%;
  --action-light-l: 85%;
  --action-semi-light-h: 20;
  --action-semi-light-s: 81%;
  --action-semi-light-l: 65%;
  --action-semi-dark-h: 20;
  --action-semi-dark-s: 81%;
  --action-semi-dark-l: 35%;
  --action-dark-h: 20;
  --action-dark-s: 81%;
  --action-dark-l: 25%;
  --action-ultra-dark-h: 20;
  --action-ultra-dark-s: 81%;
  --action-ultra-dark-l: 10%;
  --action-comp-h: 200;
  --action-medium-h: 20;
  --action-medium-s: 81%;
  --action-medium-l: 50%;
  --primary-hex: #1a2858;
  --primary-hsl: 226 54.4% 22.4%;
  --primary-rgb: 26 40 88;
  --primary-r: 26;
  --primary-g: 40;
  --primary-b: 88;
  --primary-h: 226;
  --primary-s: 54.4%;
  --primary-l: 22.4%;
  --primary-hover-h: 226;
  --primary-hover-s: 54.4%;
  --primary-hover-l: 28.8%;
  --primary-ultra-light-h: 226;
  --primary-ultra-light-s: 54.4%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 226;
  --primary-light-s: 54.4%;
  --primary-light-l: 85%;
  --primary-semi-light-h: 226;
  --primary-semi-light-s: 54.4%;
  --primary-semi-light-l: 65%;
  --primary-semi-dark-h: 226;
  --primary-semi-dark-s: 54.4%;
  --primary-semi-dark-l: 35%;
  --primary-dark-h: 226;
  --primary-dark-s: 54.4%;
  --primary-dark-l: 15.8%;
  --primary-ultra-dark-h: 226;
  --primary-ultra-dark-s: 54.4%;
  --primary-ultra-dark-l: 10.8%;
  --primary-comp-h: 46;
  --primary-medium-h: 226;
  --primary-medium-s: 54.4%;
  --primary-medium-l: 50%;
  --secondary-hex: #1c1930;
  --secondary-hsl: 248 32% 14%;
  --secondary-rgb: 28 25 48;
  --secondary-r: 28;
  --secondary-g: 25;
  --secondary-b: 48;
  --secondary-h: 248;
  --secondary-s: 32%;
  --secondary-l: 14%;
  --secondary-hover-h: 276;
  --secondary-hover-s: 16%;
  --secondary-hover-l: 16.1%;
  --secondary-ultra-light-h: 276;
  --secondary-ultra-light-s: 16%;
  --secondary-ultra-light-l: 95%;
  --secondary-light-h: 276;
  --secondary-light-s: 16%;
  --secondary-light-l: 85%;
  --secondary-semi-light-h: 248;
  --secondary-semi-light-s: 32%;
  --secondary-semi-light-l: 65%;
  --secondary-semi-dark-h: 248;
  --secondary-semi-dark-s: 32%;
  --secondary-semi-dark-l: 35%;
  --secondary-dark-h: 276;
  --secondary-dark-s: 16%;
  --secondary-dark-l: 25%;
  --secondary-ultra-dark-h: 276;
  --secondary-ultra-dark-s: 16%;
  --secondary-ultra-dark-l: 10%;
  --secondary-comp-h: 428;
  --secondary-medium-h: 276;
  --secondary-medium-s: 16%;
  --secondary-medium-l: 50%;
  --accent-hex: #bcc8a2;
  --accent-hsl: 79 26% 71%;
  --accent-rgb: 188 200 162;
  --accent-r: 188;
  --accent-g: 200;
  --accent-b: 162;
  --accent-h: 79;
  --accent-s: 26%;
  --accent-l: 71%;
  --accent-hover-h: 79;
  --accent-hover-s: 26%;
  --accent-hover-l: 81.65%;
  --accent-ultra-light-h: 79;
  --accent-ultra-light-s: 26%;
  --accent-ultra-light-l: 95%;
  --accent-light-h: 79;
  --accent-light-s: 26%;
  --accent-light-l: 85%;
  --accent-semi-light-h: 79;
  --accent-semi-light-s: 26%;
  --accent-semi-light-l: 65%;
  --accent-semi-dark-h: 79;
  --accent-semi-dark-s: 26%;
  --accent-semi-dark-l: 35%;
  --accent-dark-h: 79;
  --accent-dark-s: 26%;
  --accent-dark-l: 25%;
  --accent-ultra-dark-h: 79;
  --accent-ultra-dark-s: 26%;
  --accent-ultra-dark-l: 10%;
  --accent-comp-h: 259;
  --accent-medium-h: 79;
  --accent-medium-s: 26%;
  --accent-medium-l: 50%;
  --base-hex: #0a2434;
  --base-hsl: 203 68% 12%;
  --base-rgb: 10 36 52;
  --base-r: 10;
  --base-g: 36;
  --base-b: 52;
  --base-h: 203;
  --base-s: 68%;
  --base-l: 12%;
  --base-hover-h: 213;
  --base-hover-s: 36%;
  --base-hover-l: 13.8%;
  --base-ultra-light-h: 213;
  --base-ultra-light-s: 36%;
  --base-ultra-light-l: 95%;
  --base-light-h: 213;
  --base-light-s: 36%;
  --base-light-l: 85%;
  --base-semi-light-h: 203;
  --base-semi-light-s: 68%;
  --base-semi-light-l: 65%;
  --base-semi-dark-h: 203;
  --base-semi-dark-s: 68%;
  --base-semi-dark-l: 35%;
  --base-dark-h: 213;
  --base-dark-s: 36%;
  --base-dark-l: 25%;
  --base-ultra-dark-h: 213;
  --base-ultra-dark-s: 36%;
  --base-ultra-dark-l: 10%;
  --base-comp-h: 383;
  --base-medium-h: 213;
  --base-medium-s: 36%;
  --base-medium-l: 50%;
  --neutral-hex: #000000;
  --neutral-hsl: 0 0% 0%;
  --neutral-rgb: 0 0 0;
  --neutral-r: 0;
  --neutral-g: 0;
  --neutral-b: 0;
  --neutral-h: 0;
  --neutral-s: 0%;
  --neutral-l: 0%;
  --neutral-hover-h: 0;
  --neutral-hover-s: 0%;
  --neutral-hover-l: 0%;
  --neutral-ultra-light-h: 0;
  --neutral-ultra-light-s: 0%;
  --neutral-ultra-light-l: 95%;
  --neutral-light-h: 0;
  --neutral-light-s: 0%;
  --neutral-light-l: 85%;
  --neutral-semi-light-h: 0;
  --neutral-semi-light-s: 0%;
  --neutral-semi-light-l: 65%;
  --neutral-semi-dark-h: 0;
  --neutral-semi-dark-s: 0%;
  --neutral-semi-dark-l: 35%;
  --neutral-dark-h: 0;
  --neutral-dark-s: 0%;
  --neutral-dark-l: 25%;
  --neutral-ultra-dark-h: 0;
  --neutral-ultra-dark-s: 0%;
  --neutral-ultra-dark-l: 10%;
  --neutral-comp-h: 180;
  --neutral-medium-h: 0;
  --neutral-medium-s: 0%;
  --neutral-medium-l: 50%;
  --danger-hex: #dc3545;
  --danger-hsl: 354 70% 54%;
  --danger-rgb: 220 53 69;
  --danger-r: 220;
  --danger-g: 53;
  --danger-b: 69;
  --danger-h: 354;
  --danger-s: 70%;
  --danger-l: 54%;
  --danger-hover-h: 354;
  --danger-hover-s: 71%;
  --danger-hover-l: 62.1%;
  --danger-ultra-light-h: 354;
  --danger-ultra-light-s: 70%;
  --danger-ultra-light-l: 95%;
  --danger-light-h: 354;
  --danger-light-s: 71%;
  --danger-light-l: 85%;
  --danger-semi-light-h: 354;
  --danger-semi-light-s: 70%;
  --danger-semi-light-l: 65%;
  --danger-semi-dark-h: 354;
  --danger-semi-dark-s: 70%;
  --danger-semi-dark-l: 35%;
  --danger-dark-h: 354;
  --danger-dark-s: 71%;
  --danger-dark-l: 15%;
  --danger-ultra-dark-h: 354;
  --danger-ultra-dark-s: 70%;
  --danger-ultra-dark-l: 10%;
  --danger-comp-h: 534;
  --danger-medium-h: 354;
  --danger-medium-s: 70%;
  --danger-medium-l: 50%;
  --warning-hex: #ffc10a;
  --warning-hsl: 45 100% 52%;
  --warning-rgb: 255 193 10;
  --warning-r: 255;
  --warning-g: 193;
  --warning-b: 10;
  --warning-h: 45;
  --warning-s: 100%;
  --warning-l: 52%;
  --warning-hover-h: 45;
  --warning-hover-s: 100%;
  --warning-hover-l: 59.8%;
  --warning-ultra-light-h: 45;
  --warning-ultra-light-s: 100%;
  --warning-ultra-light-l: 95%;
  --warning-light-h: 45;
  --warning-light-s: 100%;
  --warning-light-l: 85%;
  --warning-semi-light-h: 45;
  --warning-semi-light-s: 100%;
  --warning-semi-light-l: 65%;
  --warning-semi-dark-h: 45;
  --warning-semi-dark-s: 100%;
  --warning-semi-dark-l: 35%;
  --warning-dark-h: 45;
  --warning-dark-s: 100%;
  --warning-dark-l: 15%;
  --warning-ultra-dark-h: 45;
  --warning-ultra-dark-s: 100%;
  --warning-ultra-dark-l: 10%;
  --warning-comp-h: 225;
  --warning-medium-h: 45;
  --warning-medium-s: 100%;
  --warning-medium-l: 50%;
  --info-hex: #18a2b8;
  --info-hsl: 188 77% 41%;
  --info-rgb: 24 162 184;
  --info-r: 24;
  --info-g: 162;
  --info-b: 184;
  --info-h: 188;
  --info-s: 77%;
  --info-l: 41%;
  --info-hover-h: 188;
  --info-hover-s: 77%;
  --info-hover-l: 47.15%;
  --info-ultra-light-h: 188;
  --info-ultra-light-s: 77%;
  --info-ultra-light-l: 95%;
  --info-light-h: 188;
  --info-light-s: 77%;
  --info-light-l: 85%;
  --info-semi-light-h: 188;
  --info-semi-light-s: 77%;
  --info-semi-light-l: 65%;
  --info-semi-dark-h: 188;
  --info-semi-dark-s: 77%;
  --info-semi-dark-l: 35%;
  --info-dark-h: 188;
  --info-dark-s: 77%;
  --info-dark-l: 15%;
  --info-ultra-dark-h: 188;
  --info-ultra-dark-s: 77%;
  --info-ultra-dark-l: 10%;
  --info-comp-h: 368;
  --info-medium-h: 188;
  --info-medium-s: 77%;
  --info-medium-l: 50%;
  --success-hex: #29a745;
  --success-hsl: 133 61% 41%;
  --success-rgb: 41 167 69;
  --success-r: 41;
  --success-g: 167;
  --success-b: 69;
  --success-h: 133;
  --success-s: 61%;
  --success-l: 41%;
  --success-hover-h: 133;
  --success-hover-s: 61%;
  --success-hover-l: 47.15%;
  --success-ultra-light-h: 133;
  --success-ultra-light-s: 61%;
  --success-ultra-light-l: 95%;
  --success-light-h: 133;
  --success-light-s: 61%;
  --success-light-l: 85%;
  --success-semi-light-h: 133;
  --success-semi-light-s: 61%;
  --success-semi-light-l: 65%;
  --success-semi-dark-h: 133;
  --success-semi-dark-s: 61%;
  --success-semi-dark-l: 35%;
  --success-dark-h: 133;
  --success-dark-s: 61%;
  --success-dark-l: 15%;
  --success-ultra-dark-h: 133;
  --success-ultra-dark-s: 61%;
  --success-ultra-dark-l: 10%;
  --success-comp-h: 313;
  --success-medium-h: 133;
  --success-medium-s: 61%;
  --success-medium-l: 50%;
  --action: #e86826;
  --action-hover: #ec814b;
  --action-ultra-light: #fdefe8;
  --action-light: #f8ceba;
  --action-semi-light: #ee8e5d;
  --action-semi-dark: #a24111;
  --action-dark: #732f0c;
  --action-ultra-dark: #2e1305;
  --action-comp: #26a8e8;
  --action-medium: #e75d18;
  --primary: #1a2858;
  --primary-hover: hsl(226, 54.4%, 28.8%);
  --primary-ultra-light: hsl(226, 54.4%, 95%);
  --primary-light: hsl(226, 54.4%, 80%);
  --primary-semi-light: hsl(226, 54.4%, 60%);
  --primary-medium: hsl(226, 54.4%, 50%);
  --primary-semi-dark: hsl(226, 54.4%, 35%);
  --primary-dark: hsl(226, 54.4%, 15.8%);
  --primary-ultra-dark: hsl(226, 54.4%, 10.8%);
  --primary-comp: hsl(46, 54.4%, 22.4%);
  --secondary: #1c1930;
  --secondary-hover: #2a2230;
  --secondary-ultra-light: #f3f0f4;
  --secondary-light: #dad3df;
  --secondary-semi-light: #9189c2;
  --secondary-semi-dark: #443d76;
  --secondary-dark: #42364a;
  --secondary-ultra-dark: #1a151e;
  --secondary-comp: #2c2f18;
  --secondary-medium: #846b94;
  --accent: #bcc8a2;
  --accent-hover: #d5dcc4;
  --accent-ultra-light: #f3f6ef;
  --accent-light: #dce3cf;
  --accent-semi-light: #aebd8f;
  --accent-semi-dark: #627042;
  --accent-dark: #46502f;
  --accent-ultra-dark: #1c2013;
  --accent-comp: #aea2c8;
  --accent-medium: #8ca15e;
  --base: #0a2434;
  --base-hover: #172230;
  --base-ultra-light: #eef2f7;
  --base-light: #cbd7e7;
  --base-semi-light: #69b4e2;
  --base-semi-dark: #1d6796;
  --base-dark: #293d57;
  --base-ultra-dark: #101923;
  --base-comp: #331a0a;
  --base-medium: #527bad;
  --neutral: #000000;
  --neutral-hover: black;
  --neutral-ultra-light: #f2f2f2;
  --neutral-light: #d9d9d9;
  --neutral-semi-light: #a6a6a6;
  --neutral-semi-dark: #595959;
  --neutral-dark: #404040;
  --neutral-ultra-dark: #1a1a1a;
  --neutral-comp: black;
  --neutral-medium: gray;
  --white: #fff;
  --black: #000;
  --danger: #dc3545;
  --danger-hover: #e35a67;
  --danger-ultra-light: #fbe9eb;
  --danger-light: #f4bec3;
  --danger-semi-light: #e46774;
  --danger-semi-dark: #981b27;
  --danger-dark: #410b11;
  --danger-ultra-dark: #2b080b;
  --danger-comp: #38dccb;
  --danger-medium: #d92638;
  --warning: #ffc10a;
  --warning-hover: #ffcc32;
  --warning-ultra-light: #fff9e6;
  --warning-light: #ffecb3;
  --warning-semi-light: #ffd24d;
  --warning-semi-dark: #b38600;
  --warning-dark: #4d3900;
  --warning-ultra-dark: #332600;
  --warning-comp: #0a47ff;
  --warning-medium: #ffbf00;
  --info: #18a2b8;
  --info-hover: #1cbcd5;
  --info-ultra-light: #e8f9fc;
  --info-light: #bbeef6;
  --info-semi-light: #61d8ea;
  --info-semi-dark: #158c9e;
  --info-dark: #093c44;
  --info-ultra-dark: #06282d;
  --info-comp: #b92e18;
  --info-medium: #1dc7e2;
  --success: #29a745;
  --success-hover: #2fc24f;
  --success-ultra-light: #eafaee;
  --success-light: #c1f0cc;
  --success-semi-light: #6fdc87;
  --success-semi-dark: #23903a;
  --success-dark: #0f3e19;
  --success-ultra-dark: #0a2911;
  --success-comp: #a8298d;
  --success-medium: #32cd53;
  --action-trans-10: rgba(232, 104, 38, 0.1);
  --action-trans-20: rgba(232, 104, 38, 0.2);
  --action-trans-30: rgba(232, 104, 38, 0.3);
  --action-trans-40: rgba(232, 104, 38, 0.4);
  --action-trans-50: rgba(232, 104, 38, 0.5);
  --action-trans-60: rgba(232, 104, 38, 0.6);
  --action-trans-70: rgba(232, 104, 38, 0.7);
  --action-trans-80: rgba(232, 104, 38, 0.8);
  --action-trans-90: rgba(232, 104, 38, 0.9);
  --action-light-trans-10: rgba(248, 206, 186, 0.1);
  --action-light-trans-20: rgba(248, 206, 186, 0.2);
  --action-light-trans-30: rgba(248, 206, 186, 0.3);
  --action-light-trans-40: rgba(248, 206, 186, 0.4);
  --action-light-trans-50: rgba(248, 206, 186, 0.5);
  --action-light-trans-60: rgba(248, 206, 186, 0.6);
  --action-light-trans-70: rgba(248, 206, 186, 0.7);
  --action-light-trans-80: rgba(248, 206, 186, 0.8);
  --action-light-trans-90: rgba(248, 206, 186, 0.9);
  --action-dark-trans-10: rgba(115, 47, 12, 0.1);
  --action-dark-trans-20: rgba(115, 47, 12, 0.2);
  --action-dark-trans-30: rgba(115, 47, 12, 0.3);
  --action-dark-trans-40: rgba(115, 47, 12, 0.4);
  --action-dark-trans-50: rgba(115, 47, 12, 0.5);
  --action-dark-trans-60: rgba(115, 47, 12, 0.6);
  --action-dark-trans-70: rgba(115, 47, 12, 0.7);
  --action-dark-trans-80: rgba(115, 47, 12, 0.8);
  --action-dark-trans-90: rgba(115, 47, 12, 0.9);
  --action-ultra-dark-trans-10: rgba(46, 19, 5, 0.1);
  --action-ultra-dark-trans-20: rgba(46, 19, 5, 0.2);
  --action-ultra-dark-trans-30: rgba(46, 19, 5, 0.3);
  --action-ultra-dark-trans-40: rgba(46, 19, 5, 0.4);
  --action-ultra-dark-trans-50: rgba(46, 19, 5, 0.5);
  --action-ultra-dark-trans-60: rgba(46, 19, 5, 0.6);
  --action-ultra-dark-trans-70: rgba(46, 19, 5, 0.7);
  --action-ultra-dark-trans-80: rgba(46, 19, 5, 0.8);
  --action-ultra-dark-trans-90: rgba(46, 19, 5, 0.9);
  --primary-trans-10: rgba(26, 40, 88, 0.1);
  --primary-trans-20: rgba(26, 40, 88, 0.2);
  --primary-trans-30: rgba(26, 40, 88, 0.3);
  --primary-trans-40: rgba(26, 40, 88, 0.4);
  --primary-trans-50: rgba(26, 40, 88, 0.5);
  --primary-trans-60: rgba(26, 40, 88, 0.6);
  --primary-trans-70: rgba(26, 40, 88, 0.7);
  --primary-trans-80: rgba(26, 40, 88, 0.8);
  --primary-trans-90: rgba(26, 40, 88, 0.9);
  --primary-light-trans-10: rgba(186, 197, 226, 0.1);
  --primary-light-trans-20: rgba(186, 197, 226, 0.2);
  --primary-light-trans-30: rgba(186, 197, 226, 0.3);
  --primary-light-trans-40: rgba(186, 197, 226, 0.4);
  --primary-light-trans-50: rgba(186, 197, 226, 0.5);
  --primary-light-trans-60: rgba(186, 197, 226, 0.6);
  --primary-light-trans-70: rgba(186, 197, 226, 0.7);
  --primary-light-trans-80: rgba(186, 197, 226, 0.8);
  --primary-light-trans-90: rgba(186, 197, 226, 0.9);
  --primary-dark-trans-10: rgba(13, 21, 36, 0.1);
  --primary-dark-trans-20: rgba(13, 21, 36, 0.2);
  --primary-dark-trans-30: rgba(13, 21, 36, 0.3);
  --primary-dark-trans-40: rgba(13, 21, 36, 0.4);
  --primary-dark-trans-50: rgba(13, 21, 36, 0.5);
  --primary-dark-trans-60: rgba(13, 21, 36, 0.6);
  --primary-dark-trans-70: rgba(13, 21, 36, 0.7);
  --primary-dark-trans-80: rgba(13, 21, 36, 0.8);
  --primary-dark-trans-90: rgba(13, 21, 36, 0.9);
  --primary-ultra-dark-trans-10: rgba(7, 10, 17, 0.1);
  --primary-ultra-dark-trans-20: rgba(7, 10, 17, 0.2);
  --primary-ultra-dark-trans-30: rgba(7, 10, 17, 0.3);
  --primary-ultra-dark-trans-40: rgba(7, 10, 17, 0.4);
  --primary-ultra-dark-trans-50: rgba(7, 10, 17, 0.5);
  --primary-ultra-dark-trans-60: rgba(7, 10, 17, 0.6);
  --primary-ultra-dark-trans-70: rgba(7, 10, 17, 0.7);
  --primary-ultra-dark-trans-80: rgba(7, 10, 17, 0.8);
  --primary-ultra-dark-trans-90: rgba(7, 10, 17, 0.9);
  --secondary-trans-10: rgba(28, 25, 48, 0.1);
  --secondary-trans-20: rgba(28, 25, 48, 0.2);
  --secondary-trans-30: rgba(28, 25, 48, 0.3);
  --secondary-trans-40: rgba(28, 25, 48, 0.4);
  --secondary-trans-50: rgba(28, 25, 48, 0.5);
  --secondary-trans-60: rgba(28, 25, 48, 0.6);
  --secondary-trans-70: rgba(28, 25, 48, 0.7);
  --secondary-trans-80: rgba(28, 25, 48, 0.8);
  --secondary-trans-90: rgba(28, 25, 48, 0.9);
  --secondary-light-trans-10: rgba(218, 211, 223, 0.1);
  --secondary-light-trans-20: rgba(218, 211, 223, 0.2);
  --secondary-light-trans-30: rgba(218, 211, 223, 0.3);
  --secondary-light-trans-40: rgba(218, 211, 223, 0.4);
  --secondary-light-trans-50: rgba(218, 211, 223, 0.5);
  --secondary-light-trans-60: rgba(218, 211, 223, 0.6);
  --secondary-light-trans-70: rgba(218, 211, 223, 0.7);
  --secondary-light-trans-80: rgba(218, 211, 223, 0.8);
  --secondary-light-trans-90: rgba(218, 211, 223, 0.9);
  --secondary-dark-trans-10: rgba(66, 54, 74, 0.1);
  --secondary-dark-trans-20: rgba(66, 54, 74, 0.2);
  --secondary-dark-trans-30: rgba(66, 54, 74, 0.3);
  --secondary-dark-trans-40: rgba(66, 54, 74, 0.4);
  --secondary-dark-trans-50: rgba(66, 54, 74, 0.5);
  --secondary-dark-trans-60: rgba(66, 54, 74, 0.6);
  --secondary-dark-trans-70: rgba(66, 54, 74, 0.7);
  --secondary-dark-trans-80: rgba(66, 54, 74, 0.8);
  --secondary-dark-trans-90: rgba(66, 54, 74, 0.9);
  --secondary-ultra-dark-trans-10: rgba(26, 21, 30, 0.1);
  --secondary-ultra-dark-trans-20: rgba(26, 21, 30, 0.2);
  --secondary-ultra-dark-trans-30: rgba(26, 21, 30, 0.3);
  --secondary-ultra-dark-trans-40: rgba(26, 21, 30, 0.4);
  --secondary-ultra-dark-trans-50: rgba(26, 21, 30, 0.5);
  --secondary-ultra-dark-trans-60: rgba(26, 21, 30, 0.6);
  --secondary-ultra-dark-trans-70: rgba(26, 21, 30, 0.7);
  --secondary-ultra-dark-trans-80: rgba(26, 21, 30, 0.8);
  --secondary-ultra-dark-trans-90: rgba(26, 21, 30, 0.9);
  --accent-trans-10: rgba(188, 200, 162, 0.1);
  --accent-trans-20: rgba(188, 200, 162, 0.2);
  --accent-trans-30: rgba(188, 200, 162, 0.3);
  --accent-trans-40: rgba(188, 200, 162, 0.4);
  --accent-trans-50: rgba(188, 200, 162, 0.5);
  --accent-trans-60: rgba(188, 200, 162, 0.6);
  --accent-trans-70: rgba(188, 200, 162, 0.7);
  --accent-trans-80: rgba(188, 200, 162, 0.8);
  --accent-trans-90: rgba(188, 200, 162, 0.9);
  --accent-light-trans-10: rgba(220, 227, 207, 0.1);
  --accent-light-trans-20: rgba(220, 227, 207, 0.2);
  --accent-light-trans-30: rgba(220, 227, 207, 0.3);
  --accent-light-trans-40: rgba(220, 227, 207, 0.4);
  --accent-light-trans-50: rgba(220, 227, 207, 0.5);
  --accent-light-trans-60: rgba(220, 227, 207, 0.6);
  --accent-light-trans-70: rgba(220, 227, 207, 0.7);
  --accent-light-trans-80: rgba(220, 227, 207, 0.8);
  --accent-light-trans-90: rgba(220, 227, 207, 0.9);
  --accent-dark-trans-10: rgba(70, 80, 47, 0.1);
  --accent-dark-trans-20: rgba(70, 80, 47, 0.2);
  --accent-dark-trans-30: rgba(70, 80, 47, 0.3);
  --accent-dark-trans-40: rgba(70, 80, 47, 0.4);
  --accent-dark-trans-50: rgba(70, 80, 47, 0.5);
  --accent-dark-trans-60: rgba(70, 80, 47, 0.6);
  --accent-dark-trans-70: rgba(70, 80, 47, 0.7);
  --accent-dark-trans-80: rgba(70, 80, 47, 0.8);
  --accent-dark-trans-90: rgba(70, 80, 47, 0.9);
  --accent-ultra-dark-trans-10: rgba(28, 32, 19, 0.1);
  --accent-ultra-dark-trans-20: rgba(28, 32, 19, 0.2);
  --accent-ultra-dark-trans-30: rgba(28, 32, 19, 0.3);
  --accent-ultra-dark-trans-40: rgba(28, 32, 19, 0.4);
  --accent-ultra-dark-trans-50: rgba(28, 32, 19, 0.5);
  --accent-ultra-dark-trans-60: rgba(28, 32, 19, 0.6);
  --accent-ultra-dark-trans-70: rgba(28, 32, 19, 0.7);
  --accent-ultra-dark-trans-80: rgba(28, 32, 19, 0.8);
  --accent-ultra-dark-trans-90: rgba(28, 32, 19, 0.9);
  --base-trans-10: rgba(10, 36, 52, 0.1);
  --base-trans-20: rgba(10, 36, 52, 0.2);
  --base-trans-30: rgba(10, 36, 52, 0.3);
  --base-trans-40: rgba(10, 36, 52, 0.4);
  --base-trans-50: rgba(10, 36, 52, 0.5);
  --base-trans-60: rgba(10, 36, 52, 0.6);
  --base-trans-70: rgba(10, 36, 52, 0.7);
  --base-trans-80: rgba(10, 36, 52, 0.8);
  --base-trans-90: rgba(10, 36, 52, 0.9);
  --base-light-trans-10: rgba(203, 215, 231, 0.1);
  --base-light-trans-20: rgba(203, 215, 231, 0.2);
  --base-light-trans-30: rgba(203, 215, 231, 0.3);
  --base-light-trans-40: rgba(203, 215, 231, 0.4);
  --base-light-trans-50: rgba(203, 215, 231, 0.5);
  --base-light-trans-60: rgba(203, 215, 231, 0.6);
  --base-light-trans-70: rgba(203, 215, 231, 0.7);
  --base-light-trans-80: rgba(203, 215, 231, 0.8);
  --base-light-trans-90: rgba(203, 215, 231, 0.9);
  --base-dark-trans-10: rgba(41, 61, 87, 0.1);
  --base-dark-trans-20: rgba(41, 61, 87, 0.2);
  --base-dark-trans-30: rgba(41, 61, 87, 0.3);
  --base-dark-trans-40: rgba(41, 61, 87, 0.4);
  --base-dark-trans-50: rgba(41, 61, 87, 0.5);
  --base-dark-trans-60: rgba(41, 61, 87, 0.6);
  --base-dark-trans-70: rgba(41, 61, 87, 0.7);
  --base-dark-trans-80: rgba(41, 61, 87, 0.8);
  --base-dark-trans-90: rgba(41, 61, 87, 0.9);
  --base-ultra-dark-trans-10: rgba(16, 25, 35, 0.1);
  --base-ultra-dark-trans-20: rgba(16, 25, 35, 0.2);
  --base-ultra-dark-trans-30: rgba(16, 25, 35, 0.3);
  --base-ultra-dark-trans-40: rgba(16, 25, 35, 0.4);
  --base-ultra-dark-trans-50: rgba(16, 25, 35, 0.5);
  --base-ultra-dark-trans-60: rgba(16, 25, 35, 0.6);
  --base-ultra-dark-trans-70: rgba(16, 25, 35, 0.7);
  --base-ultra-dark-trans-80: rgba(16, 25, 35, 0.8);
  --base-ultra-dark-trans-90: rgba(16, 25, 35, 0.9);
  --neutral-trans-10: rgba(0, 0, 0, 0.1);
  --neutral-trans-20: rgba(0, 0, 0, 0.2);
  --neutral-trans-30: rgba(0, 0, 0, 0.3);
  --neutral-trans-40: rgba(0, 0, 0, 0.4);
  --neutral-trans-50: rgba(0, 0, 0, 0.5);
  --neutral-trans-60: rgba(0, 0, 0, 0.6);
  --neutral-trans-70: rgba(0, 0, 0, 0.7);
  --neutral-trans-80: rgba(0, 0, 0, 0.8);
  --neutral-trans-90: rgba(0, 0, 0, 0.9);
  --neutral-light-trans-10: rgba(217, 217, 217, 0.1);
  --neutral-light-trans-20: rgba(217, 217, 217, 0.2);
  --neutral-light-trans-30: rgba(217, 217, 217, 0.3);
  --neutral-light-trans-40: rgba(217, 217, 217, 0.4);
  --neutral-light-trans-50: rgba(217, 217, 217, 0.5);
  --neutral-light-trans-60: rgba(217, 217, 217, 0.6);
  --neutral-light-trans-70: rgba(217, 217, 217, 0.7);
  --neutral-light-trans-80: rgba(217, 217, 217, 0.8);
  --neutral-light-trans-90: rgba(217, 217, 217, 0.9);
  --neutral-dark-trans-10: rgba(64, 64, 64, 0.1);
  --neutral-dark-trans-20: rgba(64, 64, 64, 0.2);
  --neutral-dark-trans-30: rgba(64, 64, 64, 0.3);
  --neutral-dark-trans-40: rgba(64, 64, 64, 0.4);
  --neutral-dark-trans-50: rgba(64, 64, 64, 0.5);
  --neutral-dark-trans-60: rgba(64, 64, 64, 0.6);
  --neutral-dark-trans-70: rgba(64, 64, 64, 0.7);
  --neutral-dark-trans-80: rgba(64, 64, 64, 0.8);
  --neutral-dark-trans-90: rgba(64, 64, 64, 0.9);
  --neutral-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --neutral-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --neutral-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --neutral-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --neutral-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --neutral-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --neutral-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --neutral-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --neutral-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-30: rgba(255, 255, 255, 0.3);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-50: rgba(255, 255, 255, 0.5);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-70: rgba(255, 255, 255, 0.7);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --danger-trans-10: rgba(220, 53, 69, 0.1);
  --danger-trans-20: rgba(220, 53, 69, 0.2);
  --danger-trans-30: rgba(220, 53, 69, 0.3);
  --danger-trans-40: rgba(220, 53, 69, 0.4);
  --danger-trans-50: rgba(220, 53, 69, 0.5);
  --danger-trans-60: rgba(220, 53, 69, 0.6);
  --danger-trans-70: rgba(220, 53, 69, 0.7);
  --danger-trans-80: rgba(220, 53, 69, 0.8);
  --danger-trans-90: rgba(220, 53, 69, 0.9);
  --danger-light-trans-10: rgba(244, 190, 195, 0.1);
  --danger-light-trans-20: rgba(244, 190, 195, 0.2);
  --danger-light-trans-30: rgba(244, 190, 195, 0.3);
  --danger-light-trans-40: rgba(244, 190, 195, 0.4);
  --danger-light-trans-50: rgba(244, 190, 195, 0.5);
  --danger-light-trans-60: rgba(244, 190, 195, 0.6);
  --danger-light-trans-70: rgba(244, 190, 195, 0.7);
  --danger-light-trans-80: rgba(244, 190, 195, 0.8);
  --danger-light-trans-90: rgba(244, 190, 195, 0.9);
  --danger-dark-trans-10: rgba(65, 11, 17, 0.1);
  --danger-dark-trans-20: rgba(65, 11, 17, 0.2);
  --danger-dark-trans-30: rgba(65, 11, 17, 0.3);
  --danger-dark-trans-40: rgba(65, 11, 17, 0.4);
  --danger-dark-trans-50: rgba(65, 11, 17, 0.5);
  --danger-dark-trans-60: rgba(65, 11, 17, 0.6);
  --danger-dark-trans-70: rgba(65, 11, 17, 0.7);
  --danger-dark-trans-80: rgba(65, 11, 17, 0.8);
  --danger-dark-trans-90: rgba(65, 11, 17, 0.9);
  --danger-ultra-dark-trans-10: rgba(43, 8, 11, 0.1);
  --danger-ultra-dark-trans-20: rgba(43, 8, 11, 0.2);
  --danger-ultra-dark-trans-30: rgba(43, 8, 11, 0.3);
  --danger-ultra-dark-trans-40: rgba(43, 8, 11, 0.4);
  --danger-ultra-dark-trans-50: rgba(43, 8, 11, 0.5);
  --danger-ultra-dark-trans-60: rgba(43, 8, 11, 0.6);
  --danger-ultra-dark-trans-70: rgba(43, 8, 11, 0.7);
  --danger-ultra-dark-trans-80: rgba(43, 8, 11, 0.8);
  --danger-ultra-dark-trans-90: rgba(43, 8, 11, 0.9);
  --warning-trans-10: rgba(255, 193, 10, 0.1);
  --warning-trans-20: rgba(255, 193, 10, 0.2);
  --warning-trans-30: rgba(255, 193, 10, 0.3);
  --warning-trans-40: rgba(255, 193, 10, 0.4);
  --warning-trans-50: rgba(255, 193, 10, 0.5);
  --warning-trans-60: rgba(255, 193, 10, 0.6);
  --warning-trans-70: rgba(255, 193, 10, 0.7);
  --warning-trans-80: rgba(255, 193, 10, 0.8);
  --warning-trans-90: rgba(255, 193, 10, 0.9);
  --warning-light-trans-10: rgba(255, 236, 179, 0.1);
  --warning-light-trans-20: rgba(255, 236, 179, 0.2);
  --warning-light-trans-30: rgba(255, 236, 179, 0.3);
  --warning-light-trans-40: rgba(255, 236, 179, 0.4);
  --warning-light-trans-50: rgba(255, 236, 179, 0.5);
  --warning-light-trans-60: rgba(255, 236, 179, 0.6);
  --warning-light-trans-70: rgba(255, 236, 179, 0.7);
  --warning-light-trans-80: rgba(255, 236, 179, 0.8);
  --warning-light-trans-90: rgba(255, 236, 179, 0.9);
  --warning-dark-trans-10: rgba(77, 57, 0, 0.1);
  --warning-dark-trans-20: rgba(77, 57, 0, 0.2);
  --warning-dark-trans-30: rgba(77, 57, 0, 0.3);
  --warning-dark-trans-40: rgba(77, 57, 0, 0.4);
  --warning-dark-trans-50: rgba(77, 57, 0, 0.5);
  --warning-dark-trans-60: rgba(77, 57, 0, 0.6);
  --warning-dark-trans-70: rgba(77, 57, 0, 0.7);
  --warning-dark-trans-80: rgba(77, 57, 0, 0.8);
  --warning-dark-trans-90: rgba(77, 57, 0, 0.9);
  --warning-ultra-dark-trans-10: rgba(51, 38, 0, 0.1);
  --warning-ultra-dark-trans-20: rgba(51, 38, 0, 0.2);
  --warning-ultra-dark-trans-30: rgba(51, 38, 0, 0.3);
  --warning-ultra-dark-trans-40: rgba(51, 38, 0, 0.4);
  --warning-ultra-dark-trans-50: rgba(51, 38, 0, 0.5);
  --warning-ultra-dark-trans-60: rgba(51, 38, 0, 0.6);
  --warning-ultra-dark-trans-70: rgba(51, 38, 0, 0.7);
  --warning-ultra-dark-trans-80: rgba(51, 38, 0, 0.8);
  --warning-ultra-dark-trans-90: rgba(51, 38, 0, 0.9);
  --info-trans-10: rgba(24, 162, 184, 0.1);
  --info-trans-20: rgba(24, 162, 184, 0.2);
  --info-trans-30: rgba(24, 162, 184, 0.3);
  --info-trans-40: rgba(24, 162, 184, 0.4);
  --info-trans-50: rgba(24, 162, 184, 0.5);
  --info-trans-60: rgba(24, 162, 184, 0.6);
  --info-trans-70: rgba(24, 162, 184, 0.7);
  --info-trans-80: rgba(24, 162, 184, 0.8);
  --info-trans-90: rgba(24, 162, 184, 0.9);
  --info-light-trans-10: rgba(187, 238, 246, 0.1);
  --info-light-trans-20: rgba(187, 238, 246, 0.2);
  --info-light-trans-30: rgba(187, 238, 246, 0.3);
  --info-light-trans-40: rgba(187, 238, 246, 0.4);
  --info-light-trans-50: rgba(187, 238, 246, 0.5);
  --info-light-trans-60: rgba(187, 238, 246, 0.6);
  --info-light-trans-70: rgba(187, 238, 246, 0.7);
  --info-light-trans-80: rgba(187, 238, 246, 0.8);
  --info-light-trans-90: rgba(187, 238, 246, 0.9);
  --info-dark-trans-10: rgba(9, 60, 68, 0.1);
  --info-dark-trans-20: rgba(9, 60, 68, 0.2);
  --info-dark-trans-30: rgba(9, 60, 68, 0.3);
  --info-dark-trans-40: rgba(9, 60, 68, 0.4);
  --info-dark-trans-50: rgba(9, 60, 68, 0.5);
  --info-dark-trans-60: rgba(9, 60, 68, 0.6);
  --info-dark-trans-70: rgba(9, 60, 68, 0.7);
  --info-dark-trans-80: rgba(9, 60, 68, 0.8);
  --info-dark-trans-90: rgba(9, 60, 68, 0.9);
  --info-ultra-dark-trans-10: rgba(6, 40, 45, 0.1);
  --info-ultra-dark-trans-20: rgba(6, 40, 45, 0.2);
  --info-ultra-dark-trans-30: rgba(6, 40, 45, 0.3);
  --info-ultra-dark-trans-40: rgba(6, 40, 45, 0.4);
  --info-ultra-dark-trans-50: rgba(6, 40, 45, 0.5);
  --info-ultra-dark-trans-60: rgba(6, 40, 45, 0.6);
  --info-ultra-dark-trans-70: rgba(6, 40, 45, 0.7);
  --info-ultra-dark-trans-80: rgba(6, 40, 45, 0.8);
  --info-ultra-dark-trans-90: rgba(6, 40, 45, 0.9);
  --success-trans-10: rgba(41, 167, 69, 0.1);
  --success-trans-20: rgba(41, 167, 69, 0.2);
  --success-trans-30: rgba(41, 167, 69, 0.3);
  --success-trans-40: rgba(41, 167, 69, 0.4);
  --success-trans-50: rgba(41, 167, 69, 0.5);
  --success-trans-60: rgba(41, 167, 69, 0.6);
  --success-trans-70: rgba(41, 167, 69, 0.7);
  --success-trans-80: rgba(41, 167, 69, 0.8);
  --success-trans-90: rgba(41, 167, 69, 0.9);
  --success-light-trans-10: rgba(193, 240, 204, 0.1);
  --success-light-trans-20: rgba(193, 240, 204, 0.2);
  --success-light-trans-30: rgba(193, 240, 204, 0.3);
  --success-light-trans-40: rgba(193, 240, 204, 0.4);
  --success-light-trans-50: rgba(193, 240, 204, 0.5);
  --success-light-trans-60: rgba(193, 240, 204, 0.6);
  --success-light-trans-70: rgba(193, 240, 204, 0.7);
  --success-light-trans-80: rgba(193, 240, 204, 0.8);
  --success-light-trans-90: rgba(193, 240, 204, 0.9);
  --success-dark-trans-10: rgba(15, 62, 25, 0.1);
  --success-dark-trans-20: rgba(15, 62, 25, 0.2);
  --success-dark-trans-30: rgba(15, 62, 25, 0.3);
  --success-dark-trans-40: rgba(15, 62, 25, 0.4);
  --success-dark-trans-50: rgba(15, 62, 25, 0.5);
  --success-dark-trans-60: rgba(15, 62, 25, 0.6);
  --success-dark-trans-70: rgba(15, 62, 25, 0.7);
  --success-dark-trans-80: rgba(15, 62, 25, 0.8);
  --success-dark-trans-90: rgba(15, 62, 25, 0.9);
  --success-ultra-dark-trans-10: rgba(10, 41, 17, 0.1);
  --success-ultra-dark-trans-20: rgba(10, 41, 17, 0.2);
  --success-ultra-dark-trans-30: rgba(10, 41, 17, 0.3);
  --success-ultra-dark-trans-40: rgba(10, 41, 17, 0.4);
  --success-ultra-dark-trans-50: rgba(10, 41, 17, 0.5);
  --success-ultra-dark-trans-60: rgba(10, 41, 17, 0.6);
  --success-ultra-dark-trans-70: rgba(10, 41, 17, 0.7);
  --success-ultra-dark-trans-80: rgba(10, 41, 17, 0.8);
  --success-ultra-dark-trans-90: rgba(10, 41, 17, 0.9);
  --bg-ultra-light: var(--neutral-ultra-light);
  --bg-light: var(--neutral-ultra-light);
  --bg-dark: var(--neutral-ultra-dark);
  --bg-ultra-dark: var(--neutral-ultra-dark);
  --text-light: var(--neutral-ultra-light);
  --text-light-muted: var(--neutral-light);
  --text-dark: var(--neutral-ultra-dark);
  --text-dark-muted: var(--neutral-dark);
  --body-bg-color: var(--white);
  --body-color: var(--black);
}
